.top{
  height:100px;
  background-color:white;
  border-style: solid;
  border-width: 1px;
  border-color: #E8E8E8;
  background-color: white;
}

.top h1{
  float:left;
  margin-left: 40px;
  margin-top: 30px;
}

.top ul{
  list-style-type: none;
    margin: 0px;
    overflow: hidden;
    margin-right: 40px;
    margin-top: 30px;
  }
  
  .top li {
    float: right;
  }
  .top a {
    display: block;
    color: Black;
    padding: 16px;
    text-decoration: none;
  }
  body{

    font-family: Helvetica Neue;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }