/*DO NOT DELETE THIS CSS FILE */

/* BODY + FOOTER + HEADER*/


#logo{
    max-height:50px;
    max-width: 300px;
    float: left;
    margin-left: 40px;
    margin-top: 30px;
}

#logo-bottom{
    max-height:50px;
    max-width: 300px;
    float: left;
    margin-left: 40px;
    margin-top: 30px;
}

#sign-up{
    background-color: #15C1F2 !important;
    border: none;
    color: white;
    padding: 8px 21px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

#log-in{
    background-color: #15C1F2 !important;
    border: none;
    color: white;
    padding: 8px 21px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.top{
    height:100px;
    background-color:white;
    border-style: solid;
    border-width: 1px;
    border-color: #E8E8E8;
    background-color: white;
  }
  

  
.top ul{
    list-style-type: none;
    margin: 0px;
    overflow: hidden;
    margin-right: 40px;
    margin-top: 30px;
}
    
.top li {
    float: right;
}

.top a {
    display: block;
    color: Black;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
}

body{
    background-color: #f5fafd;
    margin:auto;
    font-family: Avenir;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

footer{
    /* background-color: black;
    bottom: 0px;
    padding: 10px;
    margin-top: 20px;
    height: 100px;
    position: fixed;
    width: 100%; */

    height: 100px;
    position: absolute;
    padding: 10px;
    left: 0;
    right: 0;
    background-color: #202123;
    z-index: 150;
    margin-top: 50px;

    
}

footer p, footer h1{
    color: white;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

footer p{
    float: right;
}

footer h1{
    float:left;
}


/* POST */

.content-area{
    padding: 10px;
    padding: 10px;
    display: block;
    margin-top: 20px;
    max-width: 1000px;
    margin: auto;
}



.article{
    background: red;
    padding: 20px;
  /*  max-width: 500px; */
    margin: 0;
    border-style: solid;
    border-width: 1px;
    border-color: #E8E8E8;
    background-color: white;
}

.comments-area{
    margin-top: 20px;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #E8E8E8;
    background-color: white;
}


.rank{
    height: 100px;
    width: 100px;
    float: right;
    margin:0;
    border-style: solid;
    border-width: 1px;
    border-color: #E8E8E8;
    background-color: white;
    margin-bottom: 20px;
    margin-left: 20px;
}

.rank p{
    text-align: center;
    font-weight: bold;
}

.rating{
    height: 150px;
    width: 100px;
    float: right;
    margin:0;
    margin-left: 20px;

    border-style: solid;
    border-width: 1px;
    border-color: #E8E8E8;
    background-color: white;
}

.rating img{
    max-width:20px;
    max-height:20px;
    display:block;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
}

.rating p{
    font-weight:bold;
    text-align: center;

}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
.column {
    display: flex;
    flex-direction: column;
    flex: 15 2 20em;
    margin-top: 20px;
  }

  .column-1 {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1 1 20em;
    margin-top: 20px;
  }

.new-comment{
    margin-top: 20px;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #E8E8E8;
    background-color: white;
}

.comment{
    border-bottom:solid #f2f2f2 1px;
}

input[type="button"]{
    background-color: #4CAF50 !important;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

.comment-submit{
    float: right;
}

.userinfo-name{
    float:left;
}

.userinfo-date{
    float:right;
}

.userinfo-comment{
    display:inline-block;
}

.userinfo li{
    list-style: none;
    padding: 10px;
    margin-left: 0px;
}

.userinfo{
    display:flex;
    padding:0px;
    margin: 0;
}

#comment-textbox{
    resize:vertical;
    width: 100%;
    height: 150px;
}

/* INDEX.HTML */
.content-area-hm{
    padding: 10px;
    padding: 10px;
    display: block;
    margin-top: 20px;
    max-width: 1000px;
    margin: auto;
}

.fact{
    background-color: white;
    max-width: 490px;
    max-height: 100px;
    -webkit-box-shadow: 0 8px 6px -6px #dbdbdb;
	-moz-box-shadow: 0 8px 6px -6px #dbdbdb;
    box-shadow: 0 8px 6px -6px #dbdbdb;
    overflow: hidden;
}

.fact img{
    width: 100px;
    float: left;
    margin-right: 10px;
}

#article-title{
    font-size: 12px;
    width: 320px;
    height:46px;
    font-weight: bold;
    float: left;
}

.fact-info{
    margin-left: 10px;
}

.fact-info p{
    font-size: 10px;
}

.fact-category{
  /* display:inline-block;*/
  float: right;
}

.fact-category p{
    font-size: 10px;
}

.post-detail-left{
display: inline-block;
}

.post-detail-left{
    font-size: 10px;
}

.post-detail-left p{
    display: inline-block;
}

.post-details{
    width: 320px;
    float: left;
}

.rating-hm{
    height: 100px;
    width: 50px;
    float: right;
    margin:0;
    background-color: #F5F5F5;
}

.rating-hm img{
    max-width:20px;
    max-height:20px;
    display:block;
    margin-left: 5px;
    padding: 10px;
}

.rating-hm p{
    font-weight:bold;
    text-align: center;
}


#username{
    font-weight: bold;
}

#f-cat{
    font-weight: bold;
}


/* Text Editor Changes*/
.ql-toolbar{
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}
.ql-editor{
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    height: 50px;

}

/*Login Page*/
    .loginF{
        margin-top: 80px;
        text-align: center;
    }
    .loginF input{
        padding: 10px;
        height: 20px;
        width: 30%;
        margin-top: 5px;
    }
    .loginF button{
        margin-top: 10px;
        padding: 10px 20px;
        text-decoration: none;
        background-color: #15C1F2;
        font-size: 15px;
        font-weight: 700;
    }
/* Forgot Page */
    .forgotF{
        margin-top: 80px;
        text-align: center;
    }
    .forgotF input{
        padding: 10px;
        height: 20px;
        width: 30%;
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .forgotF button{
        padding: 10px 20px;
        text-decoration: none;
        background-color: #15C1F2;
        font-size: 15px;
        font-weight: 700;
        margin-top: 15px;
    }

    /* Dashboard */

   .dashboard-button{
        background-color: #15C1F2 !important;
        border: none;
        color: white;
        padding: 8px 39px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
    }

    .dashboard-buttons a{
        text-align: center;
    }

    #create-new{
        width: 150px;
        float:right;
    }

    #create-new-col{
        align-items:flex-end;
    }

    #apply-col{
        align-items: center;
        background-color: white;
    }

#search-area{
    align-items: flex-end;
}

.post-table td, tr{
    padding: 10px;
    margin-top: 10px;
}

.post-table{
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #E8E8E8;
    background-color: white;
}

#posts-tbl{
    padding: 10px;
    margin: 10px;
}