body{
    background-color: #f5fafd;
    padding-bottom: 50px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0; 
    width: 100%;
    color: white;
    text-align: center;
  } 

  .vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.ql-toolbar{
    background-color: white;
    border-bottom: none;
  
}
.ql-editor{
    background-color: white;
    border-bottom: none;


}
.ql-toolbar ql-snow{
    border-bottom: none;
}

p{
    font-size: 12px;
}