body{
    background-color: #f5fafd;
    padding-bottom: 50px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0; 
    width: 100%;
    color: white;
    text-align: center;
  } 

  .vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

p{
    font-size: 12px;
}

#quillEditor {
    height: 180px;
    overflow: auto;
  }